.stats{
	background: url('../img/statistic.jpg') no-repeat fixed center;
	background-size: cover;

	&__heading{
		color: #fff;
		padding: 1rem 0;
		border-bottom: 2px solid green;
		max-width: 53.4rem;
	}

	&__item{
		color: #fff;
		text-align: center;
	}

	&__number{
		color: yellow;
		font-size: 3.75rem;
		font-weight: 300;
		margin-bottom: 1rem;
	}
	p{
		font-size: 1.2rem;
	}
}