.video{
	position: relative;
	
	&__play{
		position: absolute;
		width: 8rem;
		height: 8rem;
		top: 50%;
		transform: translateY(-50%);
		background-color: #fff;
		padding: 2rem;
		border-radius: 5px;
		box-shadow: 0 1rem 2rem rgba(0,0,0,0.3);
	}

	&__icon{
		width: 4rem;
		height: 4rem;
		fill: green;
	}
}